@model projectnetwork.Models.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<body>
    <div class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">SCE</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div align="center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Login
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("Submit", "Login", FormMethod.Post)) { 
                                <br />
                            <i>Username:</i> @Html.TextBoxFor(m => m.Username)  <br />@Html.ValidationMessageFor(model => model.Username)
                            <br />
                            <br />
                            <i>Password:</i> @Html.PasswordFor(m => m.Password) <br />@Html.ValidationMessageFor(model => model.Password)
                            <br />
                            <br />
                            <input id="Submit1" type="submit" value="login" />
                            }
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
</html>
