@model projectnetwork.Models.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Present2</title>
</head>
<body>
    <div> 
        Lecturer
    </div>
</body>
</html>
